{% load compress %}
<html>
<head><title>thraxil.org: {% block title %}{% endblock %}</title>

    <link href="https://twitter.com/thraxil" rel="me">
    <link href="https://github.com/thraxil" rel="me">
    <link href="mailto:anders@columbia.edu" rel="me">
    <link href="https://www.linkedin.com/in/thraxil" rel="me">
    
  <meta name=viewport content="width=device-width, initial-scale=1">
  {% compress js %}
  <script src="{{STATIC_URL}}dist/bootstrap.js"></script>
  {% endcompress %}

  {% compress css %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/masthead.css"/>
  {% endcompress %}
{% block css %}{% endblock %}

<script type="text/javascript">
  ;(function() {
    var dfrr = document.createElement('script'); dfrr.type = 'text/javascript'; dfrr.async = true;
    dfrr.src = 'https://deferer.s3.amazonaws.com/1.0.0/deferer.min.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dfrr, s);
  })();
</script>
<script async type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% block js %}{% endblock %}
<link href="/feeds/main/" type="application/atom+xml" rel="alternate" title="Atom feed for thraxil.org" />
{% block feeds %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17646288-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="breadcrumbs"><div id="bcinner">{% block breadcrumbs %}{% endblock %}</div>
<div id="search"><form action="{% url 'search' %}"
		       method="get"><input type="text" name="q"
		       /><input type="submit" value="search" /></form>
</div>
</div>
<h1 id="masthead"><span>thraxil.org: {% block masthead %}{% endblock %}</span></h1>
<div id="nav">{% block nav %}{% endblock %}</div>

{% block content %}{% endblock %}
</div>
</body></html>
