<html>
<head><title>thraxil.org: {% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{STATIC_URL}}css/site.css" />

{% block css %}{% endblock %}

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% block js %}{% endblock %}
<link href="/feeds/main/" type="application/atom+xml" rel="alternate" title="Atom feed for thraxil.org" />
{% block feeds %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17646288-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="breadcrumbs"><div id="bcinner">{% block breadcrumbs %}{% endblock %}</div>
<div id="search"><form action="/search/"
		       method="get"><input type="text" name="q"
		       /><input type="submit" value="search" /></form>
</div>
</div>
<h1 id="masthead"><span>thraxil.org: {% block masthead %}{% endblock %}</span></h1>
<div id="nav">{% block nav %}{% endblock %}</div>

{% block content %}{% endblock %}
</div>
</body></html>
