Django==1.8.2
Markdown==2.6.2
psycopg2==2.6
coverage==4.0a1
pyflakes==0.8.1
pep8==1.5.7
mccabe==0.3
flake8==2.3.0
statsd==3.1
gunicorn==19.3.0
django-statsd-mozilla==0.3.15
six==1.9.0
boto==2.38.0
python-dateutil==2.4.2
textile==2.2.2
raven==5.1.1
django-markwhat==1.4
django-appconf==1.0.1
django-compressor==1.5
django-storages-redux==1.2.3
django-cacheds3storage==0.1.1
