Django==2.0.6
Markdown==2.6.11
psycopg2-binary==2.7.4
coverage==4.5.1
pyflakes==2.0.0
pep8==1.7.1
mccabe==0.6.1
enum34==1.1.6
configparser==3.5.0
pycodestyle==2.3.1
flake8==3.5.0
statsd==3.2.2
gunicorn==19.8.1
django-statsd-mozilla==0.4.0
six==1.11.0
boto==2.48.0
python-dateutil==2.7.3
pytz==2018.4

sqlparse==0.2.4

ipaddress==1.0.21

text-unidecode==1.2

Faker==0.8.16

factory_boy==2.11.1

psutil==5.4.6

django-bootstrap3==10.0.1
django-bootstrap-form==3.4
django-markwhat==1.6.0
django-appconf==1.0.2
django-compressor==2.2
django-storages==1.6.6
django-cacheds3storage==0.1.2
django-smoketest==1.1.0
django-debug-toolbar==1.9.1
django-waffle==0.14.0
django-jenkins==0.110.0
django-expvar==0.2.1
django-expvar-cmdline==0.1.0
django-expvar-psutil==0.1.0
raven==6.9.0

thraxilsettings==3.1.0
