Django==1.11.7
Markdown==2.6.9
psycopg2==2.7.3.2
coverage==4.4.2
pyflakes==1.6.0
pep8==1.7.1
mccabe==0.6.1
enum34==1.1.6
configparser==3.5.0
pycodestyle==2.3.1
flake8==3.5.0
statsd==3.2.1
gunicorn==19.7.1
django-statsd-mozilla==0.4.0
six==1.11.0
boto==2.48.0
python-dateutil==2.6.1
pytz==2017.3

textile==3.0.0

sqlparse==0.2.4

ipaddress==1.0.18

text-unidecode==1.1

Faker==0.8.7

factory_boy==2.9.2

psutil==5.4.1

django-bootstrap3==9.1.0
django-bootstrap-form==3.3
django-markwhat==1.5.1
django-appconf==1.0.2
django-compressor==2.2
django-storages==1.6.5
django-cacheds3storage==0.1.2
django-smoketest==1.1.0
django-debug-toolbar==1.9.1
django-waffle==0.12.0
django-jenkins==0.110.0
django-expvar==0.2.1
django-expvar-cmdline==0.1.0
django-expvar-psutil==0.1.0
opbeat==3.5.3

thraxilsettings==2.1.0
