{% extends "base.html" %}
{% load filterlib %}
{% load markup %}
{% block title %}edit post{% endblock %}
{% block bodyclass %}editpost{% endblock %}
{% block breadcrumbs %}

<a href="/">//thraxil.org</a>/
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

    <a href="{% url 'delete-node' node.id %}">Delete</a>
    
<form action="." method="post">
<table>
<tr>
  <th>title</th>
  <td><input type="text" name="title" value="{{node.title}}"/></td>
</tr>
<tr>
  <td colspan="2"><textarea name="body" rows="30" cols="80">{{node.p.body}}</textarea></td>
</tr>
<tr>
  <th>tags</th>
  <td><input type="text" name="tags" value="{{node.tags_string}}"/></td>
</tr>
</table>
<input type="submit" value="Publish" />
</form>

<h2>PREVIEW:</h2>

{{ node.p.body|cmarkdown:"codehilite"|safe }}


{% endblock %}
