{% extends "base.html" %}
{% load cache %}
{% load markup %}
{% load filterlib %}

{% block breadcrumbs %}
<a href="/">//thraxil.org</a>/
{% endblock %}

{% block nav %}
<a href="/tags/">tags</a>
<a href="/fields/">fields</a>
<a href="/users/">users</a>
{% endblock %}

{% block content %}
    {% for post in posts %}
        {% cache 300 post post.id %}
        {% with p=post.p %}
            <div class="post">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p class="byline">by <a href="{{post.user.get_absolute_url}}">{{ post.user.fullname }}</a>
                    {{ post.created|date:"D d M Y" }} 
                    | comments: {{ post.num_comments}}
                </p>
                {% if p.textile %}
                    {{ p.body|textile }}
                {% else %}
                    {{ p.body|cmarkdown:"codehilite"|safe }}
                {% endif %}
                {% with tags=post.get_tags %}
                {% if tags %}<div class="tags">
                    TAGS: {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>{% endif %}
                {% endwith %}
            </div>
        {% endwith %}
        {% endcache %}
{% endfor %}

{% if paginator.has_other_pages %}
<div id="pagination">
{% if paginator.has_next %}
<a href="?page={{paginator.next_page_number}}">older posts</a>
{% endif %}

{% if paginator.has_previous %}
<a href="?page={{paginator.previous_page_number}}">newer posts</a>
{% endif %}
</div>
{% endif %}
{% endblock %}
