{% extends "base.html" %}
{% load filterlib %}
{% load markup %}
{% block title %}{{ node.title }}{% endblock %}
{% block js %}<script type="text/javascript" src="{{STATIC_URL}}dist/comments.js"></script>{% endblock %}

{% block breadcrumbs %}

<a href="/">//thraxil.org</a>/<a href="/users/">users</a>/<a href="{{ node.user.get_absolute_url }}">{{ node.user.username }}</a>/<a href="{{ node.user.get_absolute_url }}{{node.type}}s/">{{ node.type }}s</a>/<a href="{{ node.user.get_absolute_url }}{{node.type}}s/{{node.created.year}}/">{{ node.created.year }}</a>/<a href="{{node.user.get_absolute_url}}{{node.type}}s/{{node.created.year}}/{{node.created.month}}/">{{ node.created.month}}</a>/<a href="{{node.user.get_absolute_url}}{{node.type}}s/{{node.created.year}}/{{node.created.month}}/{{node.created.day}}/">{{ node.created.day }}</a>/{{node.slug}}/
{% endblock %}

{% block nav %}
{% if not request.user.is_anonymous %}
<a href="/edit_post/{{node.id}}/">edit</a>|
{% endif %}
history
{% endblock %}

{% block content %}

<h2>{{ node.title }}</h2>
<p class="byline">by <a href="{{node.user.get_absolute_url}}">{{ node.user.fullname }}</a>
{{ node.created|date:"D d M Y H:i:s" }}</p>

{% if node.is_post %}
{% if node.p.textile %}
{{ node.p.body|textile }}
{% else %}
{{ node.p.body|cmarkdown:"codehilite"|safe }}
{% endif %}
{% endif %}

{% if node.is_bookmark %}
<p>Link: <a href="{{ node.b.url }}">{{ node.b.url}}</a></p>

{{ node.b.description|markdown }}
{% endif %}

{% if node.is_image %}
<p><img src="{{ node.i.scaled_image_url }}"/></p>

{{ node.i.description|markdown }}
{% endif %}

{% if node.has_tags %}
<div class="tags">
TAGS: {% for tag in node.get_tags %}
<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% endfor %}
</div>
{% endif %}

{% if node.has_comments %}
<div id="comments">
<h3>comments</h3>
{% for comment in node.top_level_comments %}

<div class="comment">
<p class="byline"> {% if comment.has_author_url %}<a href="{{comment.author_url}}">{% endif %}{{ comment.author_name }}{% if comment.has_author_url %}</a>{% endif %} - <a href="{{ comment.get_absolute_url}}">{{ comment.created|date:"D d M Y H:i:s" }}</a></p>
{{ comment.body|markdown }}


{% if comment.has_replies %}
{{ comment.replies_html|safe }}
{% endif %}

</div>
{% endfor %}
</div>
{% endif %}

{% if node.comments_allowed %}
<div id="comment-form">
<form action="{{ node.get_absolute_url }}add_comment/"
      method="post" onsubmit="return commentSubmit()">

<input type="text" name="name" value=""
			 placeholder="if you can see this, leave it blank"
			 id="name-decoy"
/>

<textarea name="content" id="comment-textarea"></textarea><br />
<p style="font-size: .8em;">formatting is
  with Markdown syntax. Comments are not displayed until they are approved by a
  moderator. Moderators will not approve unless the comment
  contributes value to the discussion.</p>
<table>
<tr><th>name</th><td><input type="text" name="horse"
			    id="comment-name"/></td><td>required</td></tr>
<tr><th>email</th><td><input type="text" name="email"
			     id="comment-email"/></td><td>required</td></tr>
<tr><th>url</th><td><input type="text" name="url"
			   id="comment-url"/></td><td></td></tr>
<tr><th></th><td><input type="checkbox" checked="checked"
                                 name="remember" id="comment-remember"
                                 />
remember info?
</td><td></td></tr>
</table><br />
<input type="submit" value="preview comment" />
</form>
</div>
<div class="clear"></div>
{% endif %}

</div>


{% endblock %}
