{% extends "base.html" %}
{% load markup %}

{% block title %}{{ user.fullname }}/{{ type }}/{{ year.year }}{% endblock %}
{% block breadcrumbs %}
<a href="/">//thraxil.org</a>/<a href="/users/">users</a>/<a href="{{ user.get_absolute_url }}">{{ user.username }}</a>/<a href="{{ user.get_absolute_url }}{{type}}s/">{{ type }}s</a>/{{ year.year }}/
{% endblock %}

{% block content %}

    <h1>{{year.year}}</h1>
    <table>
        {% for month in date_list %}
            <tr><td><a href="{{ month.month }}/">{{ month|date:"F" }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
