{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="/">//thraxil.org</a>/
{% endblock %}

{% block nav %}
<a href="/tags/">tags</a>
<a href="/fields/">fields</a>
<a href="/users/">users</a>
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="post">
<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
<p class="byline">by <a href="{{post.user.get_absolute_url}}">{{ post.user.fullname }}</a>
{{ post.created|date:"D d M Y" }} 
| comments: {{ post.num_comments}}
</p>
{% if post.p.textile %}
{{ post.p.textile }}
{% else %}
{{ post.p.body|markdown }}
{% endif %}
{% if post.has_tags %}<div class="tags">
TAGS: {% for tag in post.get_tags %}
<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% endfor %}
</div>{% endif %}
</div>
{% endfor %}
{% endblock %}
