{% extends "base.html" %}
{% load markup %}
{% load filterlib %}
{% load thumbnail %}

{% block title %}{{ user.fullname }}{% endblock %}
{% block feeds %}<link href="/users/{{user.username|urlencode}}/feed/" type="application/atom+xml" rel="alternate" title="Atom feed for {{user.fullname}}" />{% endblock %}

{% block breadcrumbs %}
<a href="/">//thraxil.org</a>/<a href="/users/">users</a>/{{ user.username }}/
{% endblock %}

{% block nav %}
tags
fields
archives |
<a href="posts/">posts</a>
<a href="images/">images</a>
<a href="bookmarks/">bookmarks</a>
{% endblock %}

{% block content %}

<div id="bio">
<h2>{{ user.fullname }}</h2>
{% if user.bio %}

{{ user.bio|markdown }}
{% endif %}
</div>


{% for post in posts %}
<div class="post">
<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
<p class="byline">{{ post.created|date:"D d M Y" }}
| comments: {{ post.num_comments}}
</p>
{% if post.p.textile %}{{ post.p.body|textile }}{% else %}{{ post.p.body|cmarkdown:"codehilite"|safe }}{% endif %}
{% if post.has_tags %}<div class="tags">
TAGS: {% for tag in post.get_tags %}
<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% endfor %}
</div>{% endif %}

</div>
{% endfor %}
{% if paginator.has_other_pages %}
<div id="pagination">
{% if paginator.has_next %}
<a href="?page={{paginator.next_page_number}}">older posts</a>
{% endif %}

{% if paginator.has_previous %}
<a href="?page={{paginator.previous_page_number}}">newer posts</a>
{% endif %}
</div>
{% endif %}

{% endblock %}
